$min-mob: "(min-width: 320px)";
$max-tab: "(max-width: 599px)";
$min-tab: "(min-width: 600px)";
$max-dsk: "(max-width: 939px)";
$min-dsk: "(min-width: 940px)";

$mob-gap: 2px;
$tab-gap: 4px;
$dsk-gap: 8px;
